doctype html
html
	head
		title Read File
		style
			include index.css
	body
		nav.menu 
			<span><a href="/">Home</a></span><span><a href="about">About</a></span><span><a href="read">Read File</a></span><span><a href="help">Help</a></span>
		h1= header
		p= content