<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
  <nav class="menu">
    <span><a href="/">Home</a></span><span><a href="/about">About</a></span><span><a href="/read">Read File</a></span><span><a href="/ask">Ask Question</a></span>
  </nav>
  {{{body}}}
</body>

</html>
