<div class="container-fluid" id="ask-container">
  <div class="form-group">
    <form class="" action="api/question" method="post">
      <label for="question"><h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1></label>
      <textarea style="overflow:auto;resize:vertical" id="question_tf" class="form-control" rows="5" name="question" id="question" maxlength="200"></textarea>
      <p class="help-block">Còn <span id="text_counter">200</span>/200 ký tự.</p>
      <input class="btn btn-primary" type="submit" name="submit" value="Gửi"></input>
    </form>
  </div>
</div>
<script type="text/javascript" src="/ask.js">
</script>
