<div class="ask">
  <form class="" action="api/question" method="post">
    <label for="question">Enter a question below</label>
    <br/>
    <input type="text" name="question" value="" placeholder="What would you like to ask?" />
    <br/>
    <input type="submit" name="" value="Submit" />
  </form>
</div>
